@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');


:root {
    --fontheader: 'Indie Flower', cursive;
    --fontetext: 'Libre Franklin', sans-serif;

    --cor1:#DED0F2;
    --cor2:#9AA3D9;
    --cor3:#5E5BA6;
    --cor4:#272F59;
    --cor5:#1E2340;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    height: 100vh;
    
}

header {
    background-color: var(--cor5);
    color: var(--cor1);
}

a {
    color: var(--cor1);
    text-decoration: none;
}

header h1, header p {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

header > section {
    text-align: right;
    padding-bottom: 15px;
    padding-right: 40px;
}
header nav {
    padding-bottom: 15px;
    padding-left: 40px;
}

section {
    padding: 50px 5%;
    text-align: justify;
}
article h1, article h2, article h3 {
    padding: 30px 20px;
    text-align: center;
}

section p {
    background-color: #9AA3D9;
    max-width: 800px;
}

#firstimg p {
    text-align: justify;
    margin: auto;
    display: flex;
    padding: 30px;
    gap: 30px;
}

#secondimg p {
    text-align: justify;
    margin: auto;
    display: flex;
    padding: 30px;
    gap: 30px;
}


.lasttext {
    width: 800px;
    margin: auto;
}

footer {
    background-color: var(--cor5);
    
}
footer p {
    color: var(--cor1);
    text-align: center;
}